# Ignore Mac system files and metadata
.DS_store
Thumbs.db

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Editors
.idea
*.iml

# OS metadata
.DS_Store

# ignore workspace
.code-workspace
